{% extends "partials/layout.html" %}

{% block content %}
<main class="container signup-section">
    <div class="section-content">
        <h2>Heavy Error Days</h2>

        <div class="section-full-width">
            {% for error in errors %}
            <section class="card">
                <div><strong>Errors:</strong>{{error.failure}}%</div>
                <div><strong>Date:</strong>{{error.date}}</div>

            </section>
            {% endfor %}
        </div>
    </div>

</main>
{% endblock %}